*.o
*.ko
*.obj
*.elf

*.gch
*.pch

*.mod.c
*.mod.o
*.mod
*.order
*.symvers
*.cmd

.tmp_versions/
Module.symvers
modules.order

*~
*.orig
*.rej

*.log
*.dmesg

.vscode/
.idea/
*.swp
*.swo

*.out
*.a
*.so
